<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Ishaan's Fyers Bot</title>
    </head>
    <body>

        {% include 'navbar.html' %}

        {% block content %}
        <label for="strategy">Choose a dog name:</label>
            <select name="strategy-names" id="strategy">
                <option value="rigatoni">Rigatoni</option>
                <option value="dave">Dave</option>
                <option value="pumpernickel">Pumpernickel</option>
                <option value="reeses">Reeses</option>
            </select>


        {% endblock %}
        <h1 id="demo">Hey</h1>

    <script src="{{ url_for('static', filename='js/myfile.js') }}" ></script>

    {% block script %}
    {% endblock %}

    </body>
</html>